@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  max-width: 1600px;
  max-height: 7335px;
}
/* header related style here */
.container {
  width: 82%;
  max-width: 1320;
  margin: 50px 120px;
}
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  height: 600px;
  text-align: center;
  border-radius: 16px;
}
.banner-text {
  padding-top: 200px;
}
.banner-text p {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}
.banner-text h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  max-width: 632px;
  padding-left: 344px;
}
/* offer related styles here */
.offer {
  text-align: center;
  margin-bottom: 120px;
}
.offer .offer-percentage {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 48px;
}
.offer .offer-caption {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.offer .offer-categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 48px;
}
.offer .offer-img {
  width: 657px;
  height: 410px;
  margin-left: 398px;
}

/* party related styles here */
.party {
  width: 82%;
  max-width: 1320;
  height: 600px;
  margin: 0px 120px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
}
.banner-2024 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.party-banner-padding {
  padding: 150px 0;
}
.banner-2024 .party-banner-text h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 53px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 7.04px;
  max-width: 527px;
  padding-left: 126px;
}
.banner-2024 .party-banner-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 527px;
  padding-left: 126px;
}
.banner-2024 .party-banner-text .party-button {
  border-radius: 8px;
  background: #f00;
  color: white;
  border: none;
  font-size: 20px;
  padding: 15px 28px;
}
.banner-2024 .party-banner-text .party-button:hover {
  cursor: pointer;
  background-color: aquamarine;
}
.banner-2024 .party-banner-text * {
  margin-bottom: 24px;
}
.banner-2024 .btn {
  padding: 0 126px;
}
img {
  width: 320px;
  height: 465px;
  padding-right: 126px;
  display: block;
}
/* Event and place related styles here */
.event {
  text-align: center;
  margin: 0 120px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 82%;
  max-width: 1320px;
  padding: 120px 0px;
  margin-top: 120px;
}
.event h2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  margin-bottom: 48px;
}

.event h2 .event-address-date-time {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.event .event-button {
  border-radius: 8px;
  background: #f00;
  color: white;
  border: none;
  font-size: 20px;
  padding: 15px 28px;
}
.event .event-button:hover {
  cursor: pointer;
  background-color: aquamarine;
}
/* coming soon related styles */
.coming-soon {
  display: flex;
  width: 82%;
  max-width: 1320px;
  margin: 120px;
  justify-content: space-between;
  gap: 80px;
}
.coming-soon-new-offer {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-top: 80px;
}
.coming-soon-title {
  color: #070211;
  font-family: Merriweather;
  text-align: left;
  font-size: 44px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.coming-soon-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  width: 323px;
}
.coming-soon-img {
  border-radius: 298.844px;
  width: 298.844px;
  height: 298.844px;
  padding-left: 22px;
  display: flex;
  align-items: center;
}
.coming-soon-img-formating {
  border-radius: 369px;
  border: 15px solid #f00;
  width: 369px;
  height: 369px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}
.coming-soon-year {
  color: #f00;
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  padding-top: 90px;
  margin-bottom: 20px;
}
.coming-soon-year-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 226px;
  margin-bottom: 35px;
}
.coming-soon-year-img {
  width: 115px;
  height: 115px;
}
/* portfolio related styles */
.portfolio-area {
  width: 82%;
  max-width: 1320px;
  margin: 120px;
}
.portfolio-title {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}
.portfolio-caption {
  color: #070211;
  font-family: Merriweather;
  font-size: 44px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 18px;
}
.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 835px;
  margin-bottom: 45px;
}
.img-glry {
  display: flex;
}
.images-box {
  height: 369px;
  width: 347px;
  padding: 10px 20px;
  border-radius: 16px;
}
.images-box:hover {
  transform: scale(1);
  filter: brightness(50%);
}
/* Newsletter related styles */
.newsletter {
  width: 82%;
  max-width: 1320px;
  margin: 120px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.newsletter-section {
  align-items: center;
  text-align: center;
}
.newsletter-img {
  padding: 60px 550px;
  width: 130px;
  height: 130px;
}
.newsletter-title {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 44px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.newsletter-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 896px;
  padding: 0 200px;
  margin-bottom: 42px;
}
#email {
  width: 648px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  color: rgba(7, 2, 17, 0.3);
  text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  border: none;
  margin-bottom: 80px;
  margin-top: 48px;
  padding-left: 30px;
}

#subscribe {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  width: 210px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  cursor: pointer;
  gap: -10px;
}

#subscribe:hover {
  background: rgb(114, 9, 9);
}
footer {
  background: #070211;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 120px 120px 80px 120px;
}
.address {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  width: 375px;

}
.contacts {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
hr {
  background: rgba(255, 255, 255, 0.15);
  width: 1320px;
  height: 1px;
  margin: 0 100px;
}
.social-icons {
  display: flex;
  margin-left: 640px;
  padding: 24px 0;
}
.img-icon {
  width: 52px;
  height: 52px;
  padding: 18px;
}
.img-icon:hover {
  transform: scale(1.5);
}

.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 120px;
}

.rights {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.Unsubscribe {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.Unsubscribe:hover {
  color: rgb(232, 5, 5);
  transform: scale(0.5);
}
